body {
  margin: 0; /*убрать отступы сверху, которые по умолчанию стоят */
  font-family: 'Open Sans', sans-serif; /*шрифт в body*/
  font-size: 14px; /*средний размер шрифта в body */
  color: #6c7279; /*цвет текста в body*/
  background-color: white;
  -webkit-font-smoothing: antialiased; /*сгладить шрифты, сделать их более стильными */
}

*,
*:before,
*:after { /*для всех наших элементов */
  box-sizing: border-box; /*блок независимо от внутренних отступов не изменяется */
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


/*container */



.container {
  width: 100%;
  max-width: 1156px; /*max width - 1170px no more */
  padding: 0  0;
  margin: 0 auto; /*выравниваем по центру*/
}


/* header */



.header {
z-index: 1000;
position: absolute;
width: 100%;


}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 123px;
  position: relative;
}

.header__logo {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}


.header__img {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.header__text {
  font-size: 34px;
  font-weight: 400;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  left: 80px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}



.nav {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
}



.nav.show {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100px;
  height: 400px;
}

.nav__item {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin-right: 30px;
  color: #fff;
  transition: color .2s linear;
  margin-top: 15px;
}

.nav__item:hover {
  color: #bfab94;
}

.nav__item:hover .search__icon {
  fill: #bfab94;
}

.nav__item:hover .search__icon--right {
  fill: #bfab94;
}


.search__icon {
  width: 25px;
  fill: #fff;
  max-height: 30px;
  margin-right: 20px;
}

.search__icon--right {
  width: 25px;
  fill: #fff;
  max-height: 30px;
  margin-left: 5px;
}





/* Intro */
.intro {
  height: 1005px;
  background: #3e4142 /*если плохой интернет, то вместо белого экрана будет этот цвет*/
  url(img/intro/photo.jpg) center no-repeat;
  background-size: cover;
  padding-top: 120px;
  position: relative;
}




.intro__inner {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  width: 100%;
  margin 0 auto;
  justify-items: center;
}

.intro__suptitle {
  font-size: 36px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  margin-top: 15%;
}


.intro__title {
  font-size: 52px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-top: 25px;
}


.intro__subtitle {
  font-size: 16px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
  text-align: center;
}

.intro__button {
  background-color: #998675;
  max-width: 20%;
    margin-top: 60px;
    display: inline-block; /*чтобы могли задавать размеры для кнопки отступы и т.д */
  vertical-align: top; /*выравнивание по вертикальной границе */
  font-size: 13px;
  border-radius: 2px; /*закругление границ */
  border: 0; /*граница */
  font-family: 'Raleway', sans-serif; /*или inherit - наследования у родителя шрифт */
  cursor: pointer; /*вместо дефолтного курсора будет ручка с пальцом */
  padding: 14px 0;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  min-width: 170px;
}


.intro__button:hover {
  background: #957d68;
  transition: background-color .2s linear;
}


.intro__slider__prev {
  position: absolute;
  top: 40%;
  content = '';
  left: 10%;
  width: 100%;
  content: "";
   display: block;
   width: 45px;
   height: 45px;
   border-top: 2px solid #ccc;
   border-right: 2px solid #ccc;
   z-index: 1;
   transform: translateY(-50%) rotate(220deg);
    transition: border .2s linear;
}

.intro__slider__next {
  position: absolute;
  top: 40%;
  content = '';
  right: 10%;
  width: 100%;
  content: "";
   display: block;
   width: 45px;
   height: 45px;
   border-top: 2px solid #ccc;
   border-right: 2px solid #ccc;
   z-index: 1;
   transform: translateY(-50%) rotate(45deg);
   transition: border .2s linear;
}


.intro__slider__next:hover {
  border-top: 2px solid #8e745e;
  border-right: 2px solid #8e745e;
}

.intro__slider__prev:hover {
  border-top: 2px solid #8e745e;
  border-right: 2px solid #8e745e;
}

/*Infa */

.infa {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
}

.infa__item {
  max-width: 285px;
  justify-content: center;
  margin-top: 85px;
  position: relative;
}



.infa__icon {
  margin-bottom: 33px;
  height: 40px;
  transition: fill .2s linear;
}



.infa__item:hover .infa__title {
  color: #c7b299;
}

.infa__item:hover .infa__icon {
  fill: #c7b299;
}

.infa__item:hover:after {
  background-color: #c7b299;

}



.infa__title {
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  color: #555555;
  transition: color .2s linear;
  margin-bottom: 30px;
}


.infa__subtitle {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #8c8c8c;
  line-height: 1.7;
}



.infa__item:after {
  content: "";
 display: block;
 width: 70px;
 margin-top: 30px;
 position: absolute;
 left: 120px;
 height: 3px;
 background-color: #f1eee9;
 transition: background-color .2s linear;
 margin-bottom: 100px;
}

/*Windows */

.windows {
  background-color: #fbfaf8;
  height: 705px;
}

.windows__inner {
  width: 100%;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 40% 60%;
    justify-content: center;
    height: 100% ;
}

.windows__title {
  width: 100%;
  text-align: center;
  margin-top: 14%;
}
.windows__subtitle {
    color: #555555;
    font-size: 30px;
    font-style: 'Raleway', Semi-Bold;
    font-weight: 700;
}

.windows__text {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #8c8c8c;
  width: 600px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.7;
}



.windows__screen {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
}



.windows__img__center {
  margin-left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
  z-index: 10;
}


.windows__img__left {
left: -55%;
bottom: 0;
position: absolute;
}


.windows__img__right {
right: -55%;
bottom: 0;
position: absolute;
}


.wordpress {
  height: 160px;
  width: 100%;
  background-color: #241d1a;
}

.wordpress__info {
  position: relative;
  height: 160px;
}


.wordpress__title {
  font-size: 28px;
  color: #c7b299;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
}

.wordpress__subtitle {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  left: 10%;
  font-size: 28px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}


.wordpress__text {
  color: #615855;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 65%;
  transform: translateY(-65%);
}

.wordpress__button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #998675;
    display: inline-block; /*чтобы могли задавать размеры для кнопки отступы и т.д */
  vertical-align: top; /*выравнивание по вертикальной границе */
  font-size: 13px;
  border-radius: 2px; /*закругление границ */
  border: 0; /*граница */
  font-family: 'Raleway', sans-serif; /*или inherit - наследования у родителя шрифт */
  cursor: pointer; /*вместо дефолтного курсора будет ручка с пальцом */
  padding: 14px 0;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  min-width: 170px;
}


.wordpress__button:hover {
  background: #957d68;
  transition: background-color .2s linear;
}


.project__text {
  margin-top: 80px;
}


.project__text__inner {
  display: inline-grid;
  grid-template-rows: 40% 60%;
  max-width: 790px;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
}


.project__title {
  font-size: 30px;
  color: #555555;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  font-weight: bold;
}

.project__subtitle {
  font-size: 16px;
  line-height: 1.7;
  color: #9b9b9b;
  font-family: 'Montserrat', sans-serif;
}

.project__button {
  height: 45px;
  margin-top: 50px;
  margin-bottom: 25px;;
}

.button__inner {
  display: flex;
  margin-left: 30%;
  max-width: 520px;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

.button__on {
    background-color: #fff;
      display: inline-block; /*чтобы могли задавать размеры для кнопки отступы и т.д */
    vertical-align: top; /*выравнивание по вертикальной границе */
    font-size: 13px;
    border-radius: 2px; /*закругление границ */
    border: 0; /*граница */
    font-family: 'Raleway', sans-serif; /*или inherit - наследования у родителя шрифт */
    cursor: pointer; /*вместо дефолтного курсора будет ручка с пальцом */
    color: #9b9b9b;
    width: 90px;
    border-radius: 3px;
    border: 1px solid #9b9b9b;
    height: 30px;
    line-height: 2.5;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s linear, color .2s linear, border .2s linear;
}

.button__on:nth-child(1) {
  width: 70px;
}

.button__on:hover {
  background-color: #998675;
  color: #fff;
  border: none;
}


.quam__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quam__inner {
  width: 377px;
  height: 333px;
  display: grid;
  grid-template-rows: 60% 40%;
  margin-bottom: 20px;
}

.quam__img__bg {
  background-color: transparent;
  position: absolute;
  height: 100%;
  opacity: .8;
  top: 15px;
  width: 100%;
  transition: background-color .2s linear;
}

.quam__inner:hover .quam__img__bg {
  background-color: #362f2d;
  width: 98.6%;
}

.quam__inner:nth-child(1):hover .quam__img__bg {
  background-color: #362f2d;
}

.quam__inner:hover .quam__search {
  display: block;
  fill: #fff;
  z-index: 3;
  transition: fill .2s linear;
}

.quam__inner:hover .quam__chain {
  transition: fill .2s linear;
  fill: #fff;
  z-index: 3;
}

.quam__inner .quam__search:hover {
  fill: #c7b299;
  transition: fill .2s linear;
}


.quam__inner .quam__chain:hover {
  fill: #c7b299;
  transition: fill .2s linear;
}

.quam__text {
  background-color: #fbfaf8;
  display: grid;
  z-index: 3;
  width: 98.6%;
}


.quam__logo {
  position: relative;
  height: 280px;
}

.quam__img {
  position: absolute;
  top: 14px;
}

.quam__title {
  font-size: 20px;
  font-weight: 500;
  color: #d1c0ac;
  font-family: 'Montserrat', sans-serif;
  margin-top: 32px;
  margin-left: 30px;
}


.quam__subtitle {
  margin-top: 15px;
  margin-bottom: 30px;
  color: #d4d4d4;
  margin-left: 30px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.quam__inner:hover .quam__title {
  color: #fff;
  transition: color .2s linear;

}

.quam__inner:hover .quam__text {
  background-color: #362f2d;
  transition: background-color .2s linear;
}

.quam__inner:hover .triangle {
  border-bottom: 30px solid #362f2d;
  transition: border-bottom .2s linear;

}
.quam__inner:hover .quam__subtitle {
  color: #c7b299;
}


.quam__chain {
  width: 35px;
  fill: transparent;
  max-height: 40px;
  position: absolute;
  top: 50%;
  left: 37%;
  transform: translate(-37%, -50%);
}


.quam__search {
  width: 35px;
  fill: transparent;
  max-height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.triangle {
  width: 0;
  top: 61%;
  left: 5%;
  z-index: 3;
height: 0;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
border-bottom: 30px solid #fbfaf8;
position: absolute;
}



.fast__btn {
  display: flex;
  justify-content: center;
}
.button__fast {
  background-color: #998675;
    display: inline-block; /*чтобы могли задавать размеры для кнопки отступы и т.д */
  vertical-align: top; /*выравнивание по вертикальной границе */
  font-size: 13px;
  border-radius: 2px; /*закругление границ */
  border: 0; /*граница */
  font-family: 'Raleway', sans-serif; /*или inherit - наследования у родителя шрифт */
  cursor: pointer; /*вместо дефолтного курсора будет ручка с пальцом */
  padding: 14px 0;
  color: white;
  margin-top: 43px;
  margin-bottom: 83px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  min-width: 170px;
}

.button__fast:hover {
  background: #957d68;
  transition: background-color .2s linear;
}



/* Player */

.player {
  background: #3e4142 /*если плохой интернет, то вместо белого экрана будет этот цвет*/
  url(img/quam/bgplayer.png) center no-repeat;
  background-size: cover;
  height: 710px;
  }



.player__play {
    width: 60px;
    fill: #fff;
    max-height: 60px;
    margin-top: 20%;
    margin-left: 50%;
    transform: translateX(-50%);
}





.player__title {
  font-size: 30px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
    margin-left: 50%;
    margin-top: 5%;
    margin-bottom: 1%;
    transform: translateX(-50%);
    text-align: center;
}


.player__text {
  font-size: 16px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  max-width: 610px;
  text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
}


/*Mobile */

.mobile__inner {
  height: 700px;
  display: grid;
  grid-template-columns: 50% 50%;
}


.mobile__img {
  position: relative;
  width: 70%;
}

.mobile__photo {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.mobile__text {
  display: grid;
  grid-template-rows: 50% 50%;
}

.mobile__text__in {
  position: relative;
}


.mobile__title {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  position: absolute;
  color: #555555;
  left: 0;
  bottom: 30%;
}


.mobile__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 668px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #8c8c8c;
}

.mobile__choose {
position: relative;
}

.mobile__choose__text {
  position: absolute;
  top: 20%;
  left: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;  
}


.mobile__choose__icon {
  background: #c7b299;
  text-align: center;
  line-height: 1.8;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  width: 24px;
  border-radius: 50%;
  height: 24px;
  position: absolute;
  top: 23%;
  left: 13%;
}



.mobile__choose__icon:nth-child(2) {
  top: 32%;
}


.mobile__choose__icon:nth-child(3) {
  top: 46%;
}

.mobile__choose__icon:nth-child(4) {
  top: 55%;
}


.stat {
  height: 305px;
  background: linear-gradient(to right, #221c1a, #4d3326);
  max-width: 100%;
}


.stat__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}


.stat__item {
height: 220px;
display: grid;
grid-template-rows: 60px 60px 60px;
justify-items: center;
margin-top: 7%;
justify-content: center;
width: 170px;
  }

.stat__icon__in {
  display: grid;
  justify-content: center;
  align-items: end;
}

.stat__icon {
  height: 50px;
  width: 50px;
  margin-bottom: 30px;
  fill: #c7b299;
}

.stat__number {
  display: grid;
  align-items: end;
  color: #fff;
  font-size: 48px;
  height: 60px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.stat__text {
  display: grid;
    color: #c7b299;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

}

.stat__text:after {
  content: "";
 width: 30px;
 margin-left: 50%;
 transform: translateX(-50%);
 height: 3px;
margin-top: 30px;
 background-color: #fff;
}


/*Recent */
.recent {
  margin-top: 30px;
}
.recent__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recent__inner {
  width: 373px;
  height: 395px;
  display: grid;
  grid-template-rows: 60% 40%;
  margin-bottom: 20px;
}

.recent__img__bg {
  background-color: transparent;
  position: absolute;
  height: 100%;
  opacity: .8;
  top: 15px;
  width: 100%;
  transition: background-color .2s linear;
}

.recent__inner:hover .recent__img__bg {
  background-color: #362f2d;
  }

.recent__inner:hover .recent__search {
  background-color: #a48d72;
  z-index: 3;
  transition: background-color .2s linear;
}

.recent__inner:hover .recent__chain {
  transition: background-color .2s linear;
  background-color: #c7b299;
  z-index: 3;
}

.recent__inner .recent__search:hover {
  fill: #c7b299;
  transition: fill .2s linear;
}


.recent__inner .recent__chain:hover {
  fill: #c7b299;
  transition: fill .2s linear;
}

.recent__text {
  background-color: #fbfaf8;
  display: grid;
  grid-template-rows: 33.3333% 33.3333% 33.3333%;
  z-index: 3;
}


.recent__logo {
  position: relative;
  height: 280px;
}

.recent__img {
  position: absolute;
  top: 14px;
}

.recent__title {
  font-size: 20px;
  font-weight: 500;
  color: #d1c0ac;
  font-family: 'Montserrat', sans-serif;
  margin-top: 32px;
  margin-left: 30px;
}


.recent__subtitle {
  margin-top: 15px;
  margin-bottom: 30px;
  color: #d4d4d4;
  margin-left: 30px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.recent__inner:hover .recent__title {
  color: #c7b299;
  transition: color .2s linear;

}

.recent__inner:hover .read__more {
  color: #c7b299;
  transition: color .2s linear;

}

.recent__inner:hover .recent__text {
  background-color: #362f2d;
  transition: background-color .2s linear;
}


.recent__inner:hover .recent__subtitle {
  color: #fff;
}


.recent__chain {
  width: 53px;
  height: 35px;
  font-size: 24px;
  background-color: #363636;
  border-radius: 5px 5px 0 0;
  text-align: center;
  line-height: 1.5;
  max-height: 40px;
  color: #fff;
  position: absolute;
  top: 13%;
  left: 5%;
}


.recent__search {
  width: 53px;
  height: 35px;
  font-size: 24px;
  background-color: #252525;
  border-radius: 0 0 5px 5px;
  text-align: center;
  line-height: 1.5;
  max-height: 40px;
  color: #fff;
  position: absolute;
  top: 25.5%;
  left: 5%;
}



.read__more {
  font-size: 14px;
  font-weight: 500;
  color: #d1c0ac;
  margin-left: 30px;
  margin-top: 4%;
  font-family: 'Montserrat', sans-serif;
}

.partners {
  max-width: 100%;
  background: url(img/partners/logo.png) center no-repeat;
  background-size: cover;
  height: 490px;
}

.partners__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 490px;
}


/*Footer */

.footer__inner {
  display: flex;
  justify-content: space-between; 
  height: 100%;
  width: 100%;
}

.footer {
  height: 507px;
  background-color: #191919;
}

.footer__item {
  display: grid;
  margin-top: 100px;
  position: relative;
  grid-template-columns: 135px 135px;
  grid-template-rows: 70px 120px 37px;
  grid-template-areas: 'a b'
             'c c'
             'd d'
            }


.footer__img {
  display: grid;
  grid-area: a;
  align-self: center;
}

.footer__title {
    display: grid;
font-size: 34px;
position: absolute;
right: 90px;
top: 10px;
color: #fff;
font-family: 'Raleway', sans-serif;
  grid-area: b;

}

.footer__text {
    display: grid;
  font-size: 14px;
  color: #555555;
  font-family: 'Montserrat', sans-serif;
  grid-area: c;
  margin-top: 20px;
}

.footer__more {
    display: grid;
    margin-top: 40px;
  cursor: pointer;
  grid-area: d;
}


.footer__item__two {
  width: 277px;
}


.footer__item__two__title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-top: 97px;
}

.footer__item__two__text {
  height: 60px;
}


.footer__item__two__text__date {
  font-size: 12px;
  margin-top: 46px;
  color: #363636;
  font-family: 'Montserrat', sans-serif;
}


.footer__item__two__text:hover .footer__item__two__text__date {
    color: #fff;
  transition: color .2s linear;
}

.footer__item__two__text:hover .footer__item__two__text__text {
    color: #c7b299;
  transition: color .2s linear;
}






.footer__item__two__text__text {
  font-size: 14px;
  margin-top: 15px;
  height: 60px;
  color: #555555;
}


.border {
    content: "";
 height: 2px;
 background-color: #252525;
}


.footer__item__three {
  width: 277px;
  height: 307px;
  margin-top: 97px;
}


.footer__item__three__title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.footer__item__three__text {
  height: 60px;
}


.footer__item__three__text__text {
    font-size: 14px;
  margin-top: 55px;
  height: auto;
  color: #555555;
}

.footer__item__three__text__time {
  font-size: 12px;
  color: #363636;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 15px;
  font-family: 'Montserrat', sans-serif;
}

.border {
    content: "";
 width: auto;
 height: 2px;
 background-color: #252525;
}



.footer__item__four__img {
  display: flex;
  width: 285px;
  flex-wrap: wrap;
}

.footer__imgs {
  margin-right: 10px;
  margin-bottom: 10px;
}





.footer__item__four__title {
    margin-top: 93px;
    margin-bottom: 31px;
    font-size: 24px;
  font-weight: bold;
  color: #fff;
}


/*Copyright */

.copyright {
  background-color: #111111;
  height: 113px;
}

.copyright__inner {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.text1 {
  margin-top: 15%;
  font-size: 13px;
  color: #555555;
  font-family: 'Montserrat', sans-serif;
}

.text2 {
  margin-top: 15%;
    font-size: 13px;
  color: #555555;
  font-family: 'Montserrat', sans-serif;
}



/* Burger
*/


.burger {
  display: none;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 9px 2px;

}

.burger__item {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
  font-size: 0;
  color: transparent;
  position: relative;

}

.burger__item:before,
.burger__item:after {
  content: "";
  width: 100%;
  background-color: #fff;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 1000
}

.burger__item:before {
  top: -8px;
  width: 30px;
   transition: transform .2s linear;
}

.burger__item:after {
  bottom: -8px;
   transition: transform .2s linear;
  width: 26px;
}



/*MEDIA */


@media (max-width: 1450px) {



.mobile__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 468px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #8c8c8c;
}


.intro__subtitle {
  width: 60%;
}

.windows__inner {
  width: 90%;
}
}

@media (max-width: 1280px) {
  .windows__img__center {
  width: 95%;
}


.windows__img__left {
width: 95%;
left: -35%;
}


.windows__img__right {
width: 95%;
right: -35%;
}

}

@media (max-width: 1150px) {

  .recent__content {
    justify-content: center;
  }
  .quam__content {
  justify-content: center;

}
.infa {
  width: 80%;
}

.windows__img__left {
left: -25%;
}


.windows__img__right {
right: -25%;
}

.wordpress__inner {
  width: 90%;
}

.wordpress__title {
  font-size: 18px;
}

.wordpress__subtitle {
  font-size: 18px;
}


.wordpress__text {
  font-size: 14px;
}

.wordpress__button {
  top: 50%;
  font-size: 10px;
  padding: 11px 0;
  min-width: 130px;
}
}

@media (max-width: 1000px) {
.nav {
  display: none;
}

.nav.show {
  position: absolute;
  right: 0;
  top: 0;
  height: 250px;
  opacity: .5;
  justify-content: flex-start;
  background-color: #333;
}

.search__icon {
  width: 20px;
  fill: #fff;
  max-height: 25px;
  margin-right: 10px;
}

.search__icon--right {
  width: 20px;
  fill: #fff;
  max-height: 25px;
  margin-right: 15px;
}

.nav__item {
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  margin-right: 30px;
  color: #fff;
  transition: color .2s linear;
  margin-top: 5px;
}

  .burger {
    margin-top: 0%;
    right: 1%;
  display: block;
  position: fixed;
  border-radius: 5px;
  background:none;
  width: 40px;
  height: 30px;
}


  .partners__img {
    width: 170px;  
}


  .stat__item {
width: 140px; }


.stat__icon {
  height: 45px;
  width: 45px;
  margin-bottom: 30px;
  fill: #c7b299;
}

.stat__number {
  display: grid;
  align-items: end;
  color: #fff;
  font-size: 42px;
  height: 60px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.stat__text {
  display: grid;
    color: #c7b299;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

}

.stat__text:after {
  content: "";
 width: 25px;
 margin-left: 50%;
 transform: translateX(-50%);
 height: 3px;
margin-top: 30px;
 background-color: #fff;
}

.stat__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

  .mobile__title {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  position: absolute;
  color: #555555;
  left: 0;
  bottom: 30%;
}

.mobile__photo {
  width: 70%;
}


.mobile__choose__text {
  position: absolute;
  top: 20%;
  left: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;  
}


.mobile__choose__icon {
  background: #c7b299;
  text-align: center;
  line-height: 1.8;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  width: 24px;
  border-radius: 50%;
  height: 24px;
  position: absolute;
  top: 23%;
  left: 13%;
}

.mobile__inner {
  height: 600px;
}



.mobile__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 368px;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #8c8c8c;
}


  .intro__suptitle {
  font-size: 28px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  margin-top: 15%;
}


.intro__title {
  font-size: 40px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-top: 25px;
}


.intro__subtitle {
  font-size: 12px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5%;
  text-align: center;
}

.intro__slider__prev {
   width: 30px;
   height: 30px;
}

.intro__slider__next {
  right: 10%;
   width: 30px;
   height: 30px;
}

.intro__button {
  max-width: 20%;
    margin-top: 3%;
  font-size: 10px;
  padding: 10px 0;
}

.windows {
  height: 500px;
}

.windows__img__center {
  width: 70%;
}

.windows__img__left {
left: -5%;
width: 70%;
}


.windows__img__right {
right: -5%;
width: 70%;
}





.wordpress__title {
  font-size: 15px;
}

.wordpress__subtitle {
  font-size: 15px;
}


.wordpress__text {
  font-size: 12px;
}

.wordpress__button {
  top: 50%;
  font-size: 8px;
  padding: 9px 0;
  min-width: 100px;
}
}


@media (max-width: 750px) {

  .burger.trans .burger__item {
    background: none;
  }


.burger.trans .burger__item:before {
  transform-origin: left top;
  transform: rotate(45deg) translateX(-2px);
}

.burger.trans .burger__item:after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translateX(-3px);
}

  .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 73px; }

  .footer__inner {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.footer {
  height: 1307px;
  background-color: #191919;
}

.footer__item {
  display: grid;
  margin-top: 100px;
  position: relative;
  grid-template-columns: 135px 135px;
  grid-template-rows: 70px 120px 37px;
  grid-template-areas: 'a b'
             'c c'
             'd d'
            }


.partners__inner {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  align-items: center;

  flex-wrap: wrap;
  height: 490px;
}


   .partners__img {
    width: 400px;  
    margin-top: 50px;
    margin-bottom: 50px;
}

  .stat__icon {
  height: 40px;
  width: 40px;
  margin-bottom: 5px;
  fill: #c7b299;
}

.stat__number {
  display: grid;
  align-items: end;
  color: #fff;
  font-size: 36px;
  height: 60px;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.stat__text {
  display: grid;
    color: #c7b299;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

}

.stat__text:after {
  content: "";
 width: 25px;
 margin-left: 50%;
 transform: translateX(-50%);
 height: 3px;
margin-top: 30px;
 background-color: #fff;
}

    .stat__item {
width: 110px; }


  .intro__suptitle {
  margin-top: 35%;
}

.intro__slider__prev {
  top: 45%;
}

.intro__slider__next {
 top: 45%;
}

  .mobile__title {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  position: absolute;
  color: #555555;
  left: 0;
  bottom: 30%;
}

.mobile__photo {
  width: 100%;
}


.mobile__choose__text {
  position: absolute;
  top: 20%;
  left: 20%;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;  
}


.mobile__choose__icon {
  background: #c7b299;
  text-align: center;
  line-height: 1.6;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  width: 18px;
  border-radius: 50%;
  font-size: 12px;
  height: 18px;
  position: absolute;
  top: 23%;
  left: 13%;
}




.mobile__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 268px;
  font-size: 9px;
  font-family: 'Montserrat', sans-serif;
  color: #8c8c8c;
}

}

@media (max-width: 650px) {

  .header__img {
  width: 50px;
  height: auto;
}

.header__text {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  left: 80px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.stat {
  height: 1225px ;
}

    .stat__item {
width: 300px; }

  .button__inner {
  justify-content: center;
}

.button__on {
    margin-right: 5px;
}

    .intro__suptitle {
  font-size: 22px;
}


.intro__title {
  font-size: 30px;
}

.intro__subtitle {
  font-size: 10px;
}


.windows {
  height: 350px;
}

.windows__img__center {
  width: 60%;
}

.windows__img__left {
left: 5%;
width: 60%;
}


.windows__img__right {
right: 5%;
width: 60%;
}



.windows__subtitle {
    font-size: 22px;
}

.windows__text {
  font-size: 12px;
  width: 400px;
}


.wordpress__title {
  font-size: 12px;
}

.wordpress__subtitle {
  font-size: 12px;
  left: 15%;

}


.wordpress__text {
  font-size: 9px;
}

.wordpress__button {
  top: 50%;
  font-size: 8px;
  padding: 9px 0;
  min-width: 100px;
}


.project__title {
  font-size: 22px;
  color: #555555;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  font-weight: bold;
}

.project__subtitle {
  font-size: 12px;
  line-height: 1.7;
  color: #9b9b9b;
  font-family: 'Montserrat', sans-serif;
}


.player {
  background: #3e4142 /*если плохой интернет, то вместо белого экрана будет этот цвет*/
  url(img/quam/bgplayer.png) center no-repeat;
  background-size: cover;
  height: 410px;
  }



.player__play {
    width: 60px;
    fill: #fff;
    max-height: 60px;
    margin-top: 20%;
    margin-left: 50%;
    transform: translateX(-50%);
}





.player__title {
  font-size: 22px;
}


.player__text {
  font-size: 12px;
}

}

@media (max-width: 450px){

  .copyright {
  background-color: #111111;
  display: flex;
  height: 113px;
}

.copyright__inner {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
    flex-wrap: wrap;
}

.text1 {
  margin-top: 15%;
  font-size: 10px;
  color: #555555;
  font-family: 'Montserrat', sans-serif;
}

.text2 {
  margin-top: 5%;
    font-size: 10px;
  color: #555555;
  font-family: 'Montserrat', sans-serif;
}


     .partners__img {
    width: 250px;  
    margin-top: 50px;
    margin-bottom: 50px;
}
    .mobile__title {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  position: absolute;
  color: #555555;
  left: 0;
  bottom: 50%;
}

.mobile__photo {
  width: 100%;
}

.mobile__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 158px;
  font-size: 7px;
  font-family: 'Montserrat', sans-serif;
  color: #8c8c8c;
}
.mobile__choose__text {
  position: absolute;
  top: 20%;
  left: 20%;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 7px;  
}


.mobile__choose__icon {
  background: #c7b299;
  text-align: center;
  line-height: 1.6;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  width: 14px;
  border-radius: 50%;
  font-size: 10px;
  height: 14px;
  position: absolute;
  top: 23%;
  left: 5%;
}


.mobile__choose__icon:nth-child(2) {
  top: 35%;
}


.mobile__choose__icon:nth-child(3) {
  top: 55%;
}

.mobile__choose__icon:nth-child(4) {
  top: 68%;
}

.mobile__inner {
  height: 300px;
}

  .intro{
    height: 700px;
  }
      .intro__suptitle {
        margin-top:25%;
  font-size: 16px;
}


.intro__title {
  font-size: 22px;
  margin-top: 7%;
}

.intro__subtitle {
  font-size: 10px;
}


.intro__slider__prev {
   width: 20px;
   height: 20px;
}

.intro__slider__next {
   width: 20px;
   height: 20px;
}

.intro__button {
  max-width: 20%;
    margin-top: 7%;
  font-size: 8px;
  padding: 8px 0;
  min-width: 90px;
}

.button__on {
    font-size: 8px;
    width: 60px;
    height: 20px;
}


.button__on:nth-child(1) {
  width: 40px;
}

}

@media (max-width: 400px){

  .recent__img__bg {
  background-color: transparent;
  position: absolute;
  height: 100%;
  opacity: .8;
  top: 45px;
  width: 100%;
  transition: background-color .2s linear;
}


.recent__chain {
  top: 20%;
  left: 5%;
}


.recent__search {
  top: 31%;
  left: 5%;
}

  .recent__img {
    width: 100%;
    margin-top: 33px; 
  }

  .quam__inner {
    width: 320px;
  }

  .quam__img {
    width: 315px;
  }


  .intro {
    height: 400px;
  }
      .intro__suptitle {
        margin-top: 0%;
  font-size: 12px;
}


.intro__title {
  font-size: 18px;
}

.intro__subtitle {
  font-size: 9px;
}


.intro__slider__prev {
   width: 15px;
   height: 15px;
}

.intro__slider__next {
   width: 15px;
   height: 15px;
}

.intro__button {
  max-width: 20%;
    margin-top: 3%;
  font-size: 8px;
  padding: 8px 0;
  min-width: 70px;
}
.windows {
  height: 250px;
}
.windows__subtitle {
    font-size: 17px;
}

.windows__text {
  font-size: 8px;
  width: 250px;
}




.wordpress__button {
  top: 50%;
  font-size: 8px;
  padding: 6px 0;
  min-width: 80px;
}


.wordpress__title {
  font-size: 10px;}

.wordpress__subtitle {
  font-size: 10px;
  left: 15%;

}


.wordpress__text {
  font-size: 8px;
}


.button__on {
    font-size: 5px;
    width: 40px;
    height: 15px;
}


.button__on:nth-child(1) {
  width: 25px;
}


.nav.show {
  position: absolute;
  right: 0;
  top: 0;
  height: 150px;
  opacity: .5;
  justify-content: flex-start;
  background-color: #333;
}

.search__icon {
  width: 15px;
  fill: #fff;
  max-height: 20px;
  margin-right: 10px;
  position: absolute;
  right: 30px;
  top: 5px;
}

.search__icon--right {
  width: 15px;
  fill: #fff;
  max-height: 20px;
  margin-right: 15px;
  position:  absolute;
  top: 5px;
  left: 60px;
}

.nav__item {
  font-size: 10px;
  font-weight: 400;
  cursor: pointer;
  margin-right: 30px;
  color: #fff;
  transition: color .2s linear;
  margin-top: 5px;
}

  .burger {
    margin-top: 0%;
    margin-right: 1%;
  display: block;
}

}

@media (max-width: 321px) {
  .recent__img {
    width: 320px;
    margin-top: 33px; 
  }

  .nav.show {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  opacity: .5;
  justify-content: flex-start;
  background-color: #333;
}

.search__icon {
  width: 15px;
  fill: #fff;
  max-height: 20px;
  margin-right: 10px;
  position: absolute;
  right: 30px;
  top: 5px;
}

.search__icon--right {
  width: 15px;
  fill: #fff;
  max-height: 20px;
  margin-right: 15px;
  position:  absolute;
  top: 5px;
  left: 60px;
}

.nav__item {
  font-size: 8px;
  font-weight: 400;
  cursor: pointer;
  margin-right: 30px;
  color: #fff;
  transition: color .2s linear;
  margin-top: 5px;
}

.burger__item {
  display: block;
  width: 17px;
  height: 3px;
  background-color: #fff;
  font-size: 0;
  color: transparent;
  position: relative;
  margin-left: 10px;

}


.burger__item:before {
  top: -8px;
  width: 19px;
}

.burger__item:after {
  bottom: -8px;
  width: 15px;
}

}