body {
	margin: 0; /*убрать отступы сверху, которые по умолчанию стоят */
	font-family: 'Open Sans', sans-serif; /*шрифт в body*/
	font-size: 14px; /*средний размер шрифта в body */
	color: #6c7279; /*цвет текста в body*/
	background-color: white;
	-webkit-font-smoothing: antialiased; /*сгладить шрифты, сделать их более стильными */
}

*,
*:before,
*:after { /*для всех наших элементов */
	box-sizing: border-box; /*блок независимо от внутренних отступов не изменяется */
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
}


/*container */



.container {
	width: 100%;
	max-width: 1156px; /*max width - 1170px no more */
	padding: 0  0;
	margin: 0 auto; /*выравниваем по центру*/
}


/* header */



.header {
z-index: 1000;
position: absolute;
width: 100%;


}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 123px;
  position: relative;
}

.header__logo {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}


.header__img {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.header__text {
	font-size: 34px;
	font-weight: 400;
	color: #fff;
	font-family: 'Raleway', sans-serif;
  position: absolute;
  left: 80px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}



.nav {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
}


.nav__item {
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
  margin-right: 30px;
	color: #fff;
	transition: color .2s linear;
  margin-top: 15px;
  position: relative;
}

.nav__item:hover {
	color: #bfab94;
}

.nav__item:hover .search__icon {
	fill: #bfab94;
}

.nav__item:hover .search__icon--right {
	fill: #bfab94;
}


.search__icon {
	width: 25px;
	fill: #fff;
	max-height: 30px;
  position: absolute;
  left: 25px;
  top: -5px;
}

.search__icon--right {
  width: 25px;
  fill: #fff;
  max-height: 30px;
  position: absolute;
  top: -5px;
  left: 35px;
}





/* Intro */
.intro {
	height: 1005px;
	background: #3e4142 /*если плохой интернет, то вместо белого экрана будет этот цвет*/
	url(img/intro/photo.jpg) center no-repeat;
	background-size: cover;
	padding-top: 120px;
  position: relative;
}




.intro__inner {
	display: grid;
	grid-template-rows: 25% 25% 25% 25%;
	width: 100%;
	margin 0 auto;
	justify-items: center;
}

.intro__suptitle {
	font-size: 36px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	margin-top: 15%;
}


.intro__title {
	font-size: 52px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	margin-top: 25px;
}


.intro__subtitle {
	font-size: 16px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	margin-top: 30px;
	text-align: center;
}

.intro__button {
  background-color: #998675;
  max-width: 20%;
    margin-top: 60px;
    display: inline-block; /*чтобы могли задавать размеры для кнопки отступы и т.д */
	vertical-align: top; /*выравнивание по вертикальной границе */
	font-size: 13px;
	border-radius: 2px; /*закругление границ */
	border: 0; /*граница */
	font-family: 'Raleway', sans-serif; /*или inherit - наследования у родителя шрифт */
	cursor: pointer; /*вместо дефолтного курсора будет ручка с пальцом */
	padding: 14px 0;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
  min-width: 170px;
}


.intro__button:hover {
	background: #957d68;
  transition: background-color .2s linear;
}


.intro__slider__prev {
  position: absolute;
  top: 40%;
  content = '';
  left: 10%;
  width: 100%;
  content: "";
   display: block;
   width: 45px;
   height: 45px;
   border-top: 2px solid #ccc;
   border-right: 2px solid #ccc;
   z-index: 1;
   transform: translateY(-50%) rotate(220deg);
    transition: border .2s linear;
}

.intro__slider__next {
  position: absolute;
  top: 40%;
  content = '';
  right: 10%;
  width: 100%;
  content: "";
   display: block;
   width: 45px;
   height: 45px;
   border-top: 2px solid #ccc;
   border-right: 2px solid #ccc;
   z-index: 1;
   transform: translateY(-50%) rotate(45deg);
   transition: border .2s linear;
}


.intro__slider__next:hover {
  border-top: 2px solid #8e745e;
  border-right: 2px solid #8e745e;
}

.intro__slider__prev:hover {
  border-top: 2px solid #8e745e;
  border-right: 2px solid #8e745e;
}

/*Infa */

.infa {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  flex-wrap: wrap;
}

.infa__item {
  max-width: 285px;
  justify-content: center;
  margin-top: 85px;
  position: relative;
}



.infa__icon {
  margin-bottom: 33px;
  height: 40px;
  transition: fill .2s linear;
}



.infa__item:hover .infa__title {
  color: #c7b299;
}

.infa__item:hover .infa__icon {
  fill: #c7b299;
}

.infa__item:hover:after {
  background-color: #c7b299;

}



.infa__title {
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  color: #555555;
  transition: color .2s linear;
  margin-bottom: 30px;
}


.infa__subtitle {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #8c8c8c;
  line-height: 1.7;
}



.infa__item:after {
  content: "";
 display: block;
 width: 70px;
 margin-top: 30px;
 position: absolute;
 left: 120px;
 height: 3px;
 background-color: #f1eee9;
 transition: background-color .2s linear;
 margin-bottom: 100px;
}


/*WINDOWS*/
.windows {
  background-color: #fbfaf8;
  height: 705px;
}

.windows__inner {
  width: 100%;
    margin-top: 170px;

    justify-content: center;
  position: relative;
  max-width: 100%;
}

.windows__title {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 125px;
}
.windows__subtitle {
    color: #555555;
    font-size: 30px;
    font-style: 'Raleway', Semi-Bold;
    font-weight: 700;
    position: absolute;
    top: -40px;
    left: 27%;
}

.windows__text {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #8c8c8c;
  width: 800px;
  position: absolute;
  left: 14%;
  top: 10px;
  line-height: 1.7;
}



.windows__screen {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}


.windows__screen_inner {
  position: relative;
  height: 705px;
  max-width: 100%;
width: 100%;}



.windows__img__center {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}


.windows__img__left {
  position: absolute;
  bottom: 0;
  left: 0;
}


.windows__img__right {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*MEDIA */


@media (max-width: 1450px) {
.intro__subtitle {
  width: 60%;
}
}

@media (max-width: 1000px) {
  .intro__suptitle {
  font-size: 28px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  margin-top: 15%;
}


.intro__title {
  font-size: 40px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-top: 25px;
}


.intro__subtitle {
  font-size: 12px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5%;
  text-align: center;
}

.intro__slider__prev {
   width: 30px;
   height: 30px;
}

.intro__slider__next {
  right: 10%;
   width: 30px;
   height: 30px;
}

.intro__button {
  max-width: 20%;
    margin-top: 3%;
  font-size: 10px;
  padding: 10px 0;
}
}

@media (max-width: 750px) {
  .intro__suptitle {
  margin-top: 35%;
}

.intro__slider__prev {
  top: 45%;
}

.intro__slider__next {
 top: 45%;
}

}

@media (max-width: 650px) {
    .intro__suptitle {
  font-size: 22px;
}


.intro__title {
  font-size: 30px;
}

.intro__subtitle {
  font-size: 10px;
}
}

@media (max-width: 450px){

  .intro{
    height: 700px;
  }
      .intro__suptitle {
        margin-top:25%;
  font-size: 16px;
}


.intro__title {
  font-size: 22px;
  margin-top: 7%;
}

.intro__subtitle {
  font-size: 10px;
}


.intro__slider__prev {
   width: 20px;
   height: 20px;
}

.intro__slider__next {
   width: 20px;
   height: 20px;
}

.intro__button {
  max-width: 20%;
    margin-top: 7%;
  font-size: 8px;
  padding: 8px 0;
  min-width: 90px;
}

}

@media (max-width: 400px){
  .intro {
    height: 400px;
  }
      .intro__suptitle {
        margin-top: 0%;
  font-size: 12px;
}


.intro__title {
  font-size: 18px;
}

.intro__subtitle {
  font-size: 9px;
}


.intro__slider__prev {
   width: 15px;
   height: 15px;
}

.intro__slider__next {
   width: 15px;
   height: 15px;
}

.intro__button {
  max-width: 20%;
    margin-top: 3%;
  font-size: 8px;
  padding: 8px 0;
  min-width: 70px;
}
}