@charset "UTF-8";

/* сброс стилей браузера */
*, *::before, *::after { box-sizing: border-box; }
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}


ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@charset "UTF-8";


html {
  font-size: 55px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  position: relative;
  width: 100%;
  background-color: #fff;
  font-size: 1rem;
  color: black;
}
body.no-scroll {
  overflow: hidden;
}



@font-face {
  font-family: GothamPro-Medium;
  src: url("../fonts/GothaProMed.otf");
}
@font-face {
  font-family: GothamPro-Light;
  src: url("../fonts/GothaProLig.otf");
}
@font-face {
  font-family: GothamPro-Bold;
  src: url("../fonts/GothaProBol.otf");
}
@font-face {
  font-family: GothamPro-Black;
  src: url("../fonts/GothaProBla.otf");
}
@font-face {
  font-family: GothamPro-Regular;
  src: url("../fonts/GothaProReg.otf");
}
@font-face {
  font-family: Arial-Regular;
  src: url("../fonts/Arial.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.main {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  display:grid;
  grid-template-columns: 150px 1fr;
}



@media (max-width: 1030px) {
  .main {
  grid-template-columns: 110px 1fr;
}}

@media (max-width: 681px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr; //80
  }

/*  .main.active {
    grid-template-rows: 384px 1fr;
  }*/
}


@import "header";
@import "intro";
@import "photos";
@import "lays";
@import "map";
@import "footer";


@media (max-width:1848px) {
  html {
    font-size: 54px;
  }
}

@media (max-width:1816px) {
  html {
    font-size: 53px;
  }
}

@media (max-width:1784px) {
  html {
    font-size: 52px;
  }
}

@media (max-width:1752px) {
  html {
    font-size: 51px;
  }
}

@media (max-width:1720px) {
  html {
    font-size: 50px;
  }
}

@media (max-width:1688px) {
  html {
    font-size: 49px;
  }
}

@media (max-width:1656px) {
  html {
    font-size: 48px;
  }
}

@media (max-width:1624px) {
  html {
    font-size: 47px;
  }
}

@media (max-width:1592px) {
  html {
    font-size: 46px;
  }
}

@media (max-width:1560px) {
  html {
    font-size: 45px;
  }
}

@media (max-width:1528px) {
  html {
    font-size: 44px;
  }
}

@media (max-width:1496px) {
  html {
    font-size: 43px;
  }
}

@media (max-width:1464px) {
  html {
    font-size: 42px;
  }
}

@media (max-width:1432px) {
  html {
    font-size: 41px;
  }
}

@media (max-width:1400px) {
  html {
    font-size: 40px;
  }
}

@media (max-width:1369px) {
  html {
    font-size: 39px;
  }
}

@media (max-width:1338px) {
  html {
    font-size: 38px;
  }
}

@media (max-width:1307px) {
  html {
    font-size: 37px;
  }
}

@media (max-width:1276px) {
  html {
    font-size: 36px;
  }
}

@media (max-width:1245px) {
  html {
    font-size: 35px;
  }
}

@media (max-width:1213px) {
  html {
    font-size: 34px;
  }
}

@media (max-width:1181px) {
  html {
    font-size: 33px;
  }
}

@media (max-width:1149px) {
  html {
    font-size: 32px;
  }
}

@media (max-width:1117px) {
  html {
    font-size: 31px;
  }
}

@media (max-width:1085px) {
  html {
    font-size: 30px;
  }
}

@media (max-width:1053px) {
  html {
    font-size: 29px;
  }
}

@media (max-width:1030px) {
  html {
    font-size: 28px;
  }
}

@media (max-width:998px) {
  html {
    font-size: 27px;
  }
}

@media (max-width:966px) {
  html {
    font-size: 26px;
  }
}

@media (max-width:934px) {
  html {
    font-size: 25px;
  }
}

@media (max-width:902px) {
  html {
    font-size: 24px;
  }
}

@media (max-width:870px) {
  html {
    font-size: 23px;
  }
}

@media (max-width:838px) {
  html {
    font-size: 22px;
  }
}


@media (max-width:806px) {
  html {
    font-size: 21px;
  }
}

@media (max-width:774px) {
  html {
    font-size: 20px;
  }
}

@media (max-width:742px) {
  html {
    font-size: 19px;
  }
}


@media (max-width:710px) {
  html {
    font-size: 18px;
  }
}

@media (max-width:678px) {
  html {
    font-size: 17px;
  }
}

@media (max-width:646px) {
  html {
    font-size: 16px;
  }
}

@media (max-width:614px) {
  html {
    font-size: 15px;
  }
}

@media (max-width:582px) {
  html {
    font-size: 14px;
  }
}

@media (max-width:550px) {
  html {
    font-size: 13px;
  }
}

@media (max-width:518px) {
  html {
    font-size: 12px;
  }
}

@media (max-width:486px) {
  html {
    font-size: 11px;
  }
}

@media (max-width:454px) {
  html {
    font-size: 10px;
  }
}

@media (max-width:422px) {
  html {
    font-size: 9px;
  }
}

@media (max-width:390px) {
  html {
    font-size: 8px;
  }
}